.form {
  position: relative;
}

.form__textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--form-main);
  resize: none;
}

.form__button {
  position: absolute;
  bottom: -10px;
  right: -20px;
}
