html,
body {
  min-height: 100%;
}

:root {
  --comment-bg: #feee7f;
  --username-bg: #cd9711;
  --text-primary: #000;
  --text-secondary: #fffffe;
  --shadow: 1px 1px 1px #00000032;
  --gradient-first: #918dae;
  --gradient-second: #fdd22e;
  --gradient-third: #dcd02c;
  --gradient-fourth: #ead234;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.626);
  background: linear-gradient(
    150deg,
    var(--gradient-first) 0%,
    var(--gradient-second) 34%,
    var(--gradient-third) 77%,
    var(--gradient-fourth) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 140px 20px 0;
}

.text-no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}
